
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

body {
    background-image: url("img/background.jpg");
    background-repeat: repeat;
}

.clear {
    clear: both;
}

.column {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    margin: 40px 0;
    box-shadow: 10px 10px 10px rgba(148, 92, 92, 0.3);
    
        
}

.card-header {
    background-color: #2ECC71;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: fit-content;
    padding: 20px;
}

.card-body {
    background-color: #FFF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2%
    
        
}

.content-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    
}

.title {
    font-family: 'Roboto'; 
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    color: #FFF;
    margin: 30px 0 10px;
    
}

.subtitle {
    font-family:  'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0 10px;
    
}

.text {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: bold;
    font-size: 15px;
}


/* 
===========================================
            ABOUT SECTION
=========================================== 
*/

.avatar {
    width: 200px;
    position: absolute;
    border-radius: 50%;
    margin-top: 0px;
    transform: translateX(30px)

}

.picture-container {
    float: left;
}

.name-container {
    float: right;
    width: 70%;
    text-align: center;
}

.name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 54px;
    color: #FFF;
    margin: 30px 0 10px;
}

.job {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
    margin: 20px 0 10px;
}

.about-me {
    margin: 30px auto;
    width: 50%;
    float: left;
}

.description {
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 25px;
}

.info {
    width: 40%;
    float: left;
    margin: 30px 0 10px 30px;

    }

.info-list {
    display: inline-block;
    list-style: none;
    line-height: 25px;
    
    
}

.info-property {
    display: inline-block;
    width: 30%;
    font-family: 'Roboto';
    color: #424242;
}
.info-value {
    display: inline-block;
    width: 60%;
   font-family: 'Roboto';
    color: #9E9E9E;
    margin-left: 10px;
}


/* 
===========================================
            RESUME SECTION
=========================================== 
*/

.timeline-container {
    float: left;
    width: 45%;
    padding: 0 10px;
}

.timeline-item {
    padding: 15px 20px 10px;
    margin-bottom: 20px;
    border-left: 2px solid #2ECC71;
}

.timeline-title {
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.timeline-period {
    font-family: 'Helvetica';
    font-size: 12px;
    line-height: 18px;
    color: #2ECC71;
    margin: 0 0 20px;
}

.timeline-description {
    font-family: 'Helvetica';
    font-size: 15px;
    line-height: 18px;
}


/* 
===========================================
            SERVICES SECTION
=========================================== 
*/

.service-section-container {
    overflow: hidden;
    margin-bottom: 20px;
}

.service-block {
    width: 200px;
    float: left;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.service-img-container {
    width: 120px;
    height: 120px;
    background-color: #FAFAFA;
    margin: 0 auto;
}

.service-img {
    height: 64px;
    margin: 28px 0;
}

.service-title {
    font-family: Roboto;
    font-size: 17px;
    line-height: 22px;
    margin-top: 40px;
}

.service-description {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 22px;
}

.services-client {
    width: 80px;
    float: left;
    margin-left: calc(800px/12 - 40px);
    margin-right: calc(800px/12 - 40px); 
}

.pricing-box {
    border: 1px solid #E0E0E0;
    width: calc(800px / 3 - 20px);
    margin: 0 10px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
}

.pricing-button {
    display: inline-block;
    font-family: 'Helvetica';
    background-color: #2ECC71;
    color: #FFF;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
}

.pricing-text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
}


/* 
===========================================
            PORTFOLIO SECTION
=========================================== 
*/

.portfolio-img {
    width: 30%;
    margin: 5px;
    float: left;
    box-sizing: border-box;
}


/* 
===========================================
            BLOG SECTION
=========================================== 
*/

.blog-post {
    width: 30%;
    float: left;
    margin: 20px;
    text-align: center;
}

.blog-post-img {
    width: 100%;
}

.blog-post-title {
    font-family: 'Helvetica';
    letter-spacing: 1px;
}



/* 
===========================================
            CONTACT SECTION
=========================================== 
*/

.contact {
    width: 80%;
    margin: 40px auto;
}

.contact-form {
    margin-top: 40px;
}

.input-text {
    font-family: 'Roboto';
    font-size: 15px;
    display: block;
    width: 70%;
    margin: 50px; 
    border-bottom: solid 2px lightgrey;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;

    
}

.text-area {
    font-family: 'Roboto';
    font-size: 15px;
    display: block;
    width: 70%;
    margin: 50px; 
    border-bottom: solid 2px lightgrey;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
}
.send-button {
    font-family: 'Roboto';
    font-size: 15px;
    display: block;
    margin: 50px; 
    background-color: #2ECC71
}